<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="RecipeBook.Web.styles.css" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <div class="header">
        <h2>Recipe Book</h2>
    </div>
    <div class="content">
        @RenderBody()
    </div>
</body>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
</html>