.card {
    margin: 10px 0;
    padding: 20px;
    box-shadow: 5px 5px 8px 2px lightgrey;
}

/*@media screen and (max-width: 720px){
    .card {
        width: auto;
    }
}*/

.pagination {
    margin-top: 20px;
    text-align: center;
}

.btn-page{
    min-width: 20px;
    background-color: darkolivegreen;
}
